
.icon-eye:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-th:before { content: '\e802'; } /* '' */
.icon-wrench:before { content: '\e803'; } /* '' */
.icon-umbrella:before { content: '\e804'; } /* '' */
.icon-globe:before { content: '\e805'; } /* '' */
.icon-inbox:before { content: '\e806'; } /* '' */
.icon-water:before { content: '\e807'; } /* '' */
.icon-droplet:before { content: '\e808'; } /* '' */
.icon-air:before { content: '\e809'; } /* '' */
.icon-home-outline:before { content: '\e80a'; } /* '' */
.icon-home-1:before { content: '\e80b'; } /* '' */
.icon-feather:before { content: '\e80c'; } /* '' */
.icon-video-alt:before { content: '\e80d'; } /* '' */
.icon-home-2:before { content: '\e80e'; } /* '' */
.icon-trash:before { content: '\e80f'; } /* '' */
.icon-aboveground-rail:before { content: '\e810'; } /* '' */
.icon-airfield:before { content: '\e811'; } /* '' */
.icon-airport:before { content: '\e812'; } /* '' */
.icon-art-gallery:before { content: '\e813'; } /* '' */
.icon-bar:before { content: '\e814'; } /* '' */
.icon-baseball:before { content: '\e815'; } /* '' */
.icon-basketball:before { content: '\e816'; } /* '' */
.icon-beer:before { content: '\e817'; } /* '' */
.icon-belowground-rail:before { content: '\e818'; } /* '' */
.icon-bus:before { content: '\e819'; } /* '' */
.icon-bicycle:before { content: '\e81a'; } /* '' */
.icon-commerical-building:before { content: '\e81b'; } /* '' */
.icon-embassy:before { content: '\e81c'; } /* '' */
.icon-photo:before { content: '\e81d'; } /* '' */
.icon-th-1:before { content: '\e81e'; } /* '' */
.icon-home-3:before { content: '\e81f'; } /* '' */
.icon-home-circled:before { content: '\e820'; } /* '' */
.icon-eye-1:before { content: '\e821'; } /* '' */
.icon-tag:before { content: '\e822'; } /* '' */
.icon-briefcase:before { content: '\e823'; } /* '' */
.icon-lodging:before { content: '\e824'; } /* '' */
.icon-road:before { content: '\e825'; } /* '' */
.icon-leaf:before { content: '\e826'; } /* '' */
.icon-book:before { content: '\e827'; } /* '' */
.icon-museum:before { content: '\e828'; } /* '' */
.icon-hdd:before { content: '\e829'; } /* '' */
.icon-feather-1:before { content: '\e82a'; } /* '' */
.icon-book-1:before { content: '\e82b'; } /* '' */
.icon-book-2:before { content: '\e82c'; } /* '' */
.icon-prison:before { content: '\e82d'; } /* '' */
.icon-book-open:before { content: '\e82e'; } /* '' */
.icon-book-alt:before { content: '\e82f'; } /* '' */
.icon-town-hall:before { content: '\e83c'; } /* '' */
.icon-tree-1:before { content: '\e83e'; } /* '' */
.icon-tree-2:before { content: '\e83f'; } /* '' */
.icon-warehouse:before { content: '\e840'; } /* '' */
.icon-inbox-1:before { content: '\f070'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-hospital:before { content: '\f0f8'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-simplybuilt:before { content: '\f215'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-font-awesome:before { content: '\f2b4'; } /* '' */
.icon-thermometer:before { content: '\f2c7'; } /* '' */
.icon-thermometer-3:before { content: '\f2c8'; } /* '' */
.icon-thermometer-2:before { content: '\f2c9'; } /* '' */
.icon-thermometer-quarter:before { content: '\f2ca'; } /* '' */
.icon-thermometer-0:before { content: '\f2cb'; } /* '' */
.icon-shower:before { content: '\f2cc'; } /* '' */
.icon-bath:before { content: '\f2cd'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */